*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif
}

body{
    background-color: azure;
}

h2{
    margin-bottom: 20px;
    width: 100%;
    text-transform: uppercase;
}

.container{
    max-width: 1020px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}

nav{
    background-color: rgba(127, 150, 255, 0.253);
    padding: 20px;
    border-radius: 8px;
    margin-top: 150px;
    margin-right: 10%;
    margin-left: 10%;
}

form, h2{
    margin-left: 10%;
    margin-right: 10%;
}

.form-campo{
    margin-bottom: 16px;
}

.form-campo label{
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
}

.form-campo input{
    width: 100%;
    display: block;
    padding: 9px;
    border-radius: 8px;
}

button{
    display: block;
    width: 25%;
    padding: 8px 0;
    border: none;
    background-color: rgb(42, 165, 138);
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 8px;
}